* {
	box-sizing: border-box;
}
.game-field {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 40vw;
	background: chocolate;
}
.present {
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
	background: white;
	box-sizing: border-box;
}
.prise {
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
	background: yellow;
	box-sizing: border-box;
}
/* .false {
	color: white;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
	background: red;
	box-sizing: border-box;
} */